p{
    color:rgb(245, 245, 245);
    background-color: rgb(251, 164, 234);
  }
  h2{
    color:#f9f9f9;
  }
  section{
    border: 2px #110f0f solid;
    margin: 40px;
    padding: 20px;
    background-color: rgb(218, 125, 190);
    
  }
